/**
 * CSS files with the .module.css suffix will be treated as CSS modules
 * and scoped locally.
 */

.heroBanner {
  padding: 4rem 0;
  text-align: center;
  position: relative;
  overflow: hidden;
}

@media screen and (max-width: 996px) {
  .heroBanner {
    padding: 2rem;
  }
}

.buttons {
  display: flex;
  align-items: center;
  justify-content: center;
}

.heroLogo {
  max-width: 300px; /* ロゴの最大幅 */
  margin-bottom: 1rem; /* ロゴとタグラインの間の余白 */
}

@media screen and (max-width: 768px) {
  .videoContainer iframe {
    width: 100%;
    height: auto;
  }
}
